/*
================================================= BASES =================================================
*/
.svgTxt{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/*
================================================= HEADER =================================================
*/
header{
    min-height: 200px;
    position: relative;
}
header .izq{ margin-top: 15px; margin-left: 15px; justify-self: start; width: 100%;}
header .izq .click{
    background-color: var(--BG2);
    transition: var(--transicion-BG);
    cursor: pointer;
    
    padding-left: 5%;
    height: 30px;
    width: fit-content;
    
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
header .izq .click svg{
    height: 100%;
    transition: ease var(--CeroCincoSecs);
}
header .izq .extend{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 0px;
    overflow: hidden;
    transition: var(--CeroCincoSecs) ease;
    background-color: var(--BG2);

    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
header .izq .extend *{
    margin: 5px;
}


header .mid{ margin-top: 40px; width: 150%;}
header .mid h1{    
    text-align: center;
    font-size: 300%;
}
header .der{ 
    margin-top: 15px; 
    margin-right: 15px; 
    width: 100%; 
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}
header .der > div{ 
    margin-top: 5px; 
    margin-bottom: 5px; 
    margin-right: 15px; 
    width: fit-content;
    cursor: pointer;
}
header .der svg{ 
    margin-left: 15px;
    width: 30px;
}
header .der .svgTxt * {
    text-decoration: none;
    color: inherit;
}
header .der .svgTxt *:hover {
    text-decoration: underline;
    color: inherit;
}

/*
================================================= BODY =================================================
*/
body .lista{
    background-color: var(--BG2);
    transition: var(--transicion-BG);
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
body .lista h1{
    transition: none;
}
body .lista .juego{
    background-color: var(--DarkMode-BG2);
    cursor: pointer;

    justify-content: center;
    display: flex;
    overflow: hidden;
    position: relative;
    
    width: 300px;
    height: 200px;
    margin: 10px;
    
    border-radius: 10px;
    border-style: solid;
    border-color: var(--BG1);
}
body .lista .juego p{
    background: linear-gradient(#00000000,var(--DarkMode-BG2));
    color: var(--DarkMode-TXT);
    font-weight: bolder;
    font-size: large;
    
    position: absolute;
    top: 80%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    padding-top: 10px;
}
body .lista .juego .record{
    background: linear-gradient(var(--DarkMode-BG2),#0000);
    color: var(--DarkMode-TXT);
    font-weight: bolder;
    font-size: large;

    transition: ease var(--CeroCincoSecs);
    overflow: hidden;

    position: absolute;
    top: 0%;
    bottom: 100%;
    left: -10%;
    right: -10%;
}
body .lista .juego:hover .record{
    top: 0%;
    bottom: 80%;
}
body .lista .juego img{
    height: 100%;
    object-fit: contain;
}

/*tamaño maximo o pc*/
@media (min-width: 1000px){
    header{
        display: flex !important;
        justify-content: space-between !important;
        flex-direction: row !important;
    }
    body .lista{        
        margin-right: calc(10% + 25px);
        margin-left: calc(10% + 25px);
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}
/*tamaño medio o tablet*/
@media (min-width:600px) and (max-width: 999px){
    header{
        display: flex !important;
        justify-content: space-between !important;
        flex-direction: row !important;
    }
    body .lista{        
        margin-right: calc(95px + 25px);
        margin-left: calc(1% + 25px);
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}
/*tamaño minimo o movil*/
@media (max-width: 599px){
    header{
        flex-direction: column;
        border-end-start-radius:   0px !important;
        border-end-end-radius:   0px !important;
    }
    header .izq{ margin-top: 0px; width: 90%;  order: 1;}
    header .mid{ margin-top: 20px; width: 100%;}
    header .der{ 
        margin-top: 10px; 
        margin-left: 10px; 
        margin-bottom: 10px; 
        width: 100%; 
        justify-content: space-around;
        display: flex;
        flex-direction: row;
    }


    body .lista{        
        margin-right: 0%;
        margin-left:  0%;
        padding-left: 0%;
        padding-right:0%;
        padding-top: 20px;
        padding-bottom: 20px;
        
        border-end-start-radius:   0px !important;
        border-end-end-radius:   0px !important;
    }
    body .lista .juego{
        width: 250px !important;
    }
}